node_modules/
resource/bower/*
public/
.vscode/

*.map

# ignore certain .js files (they're built)
resource/content/content.json
resource/main.js
resource/app*.js
resource/app/*/*.js
resource/style/all.css

resource/content/test*html
resource/content/*/*.html
