<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-if="vm.isSearch">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input autofocus class="form-control" type="search" ng-model="vm.searchTerm" ng-keyup="vm.search()" />
			</div>
		</div>
		
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-if="vm.currentPage.items.length > 0">
			<div ng-repeat="metaArticle in vm.currentPage.items">
				<div class="post-preview">
					<!-- We're not using ui-sref as it would encode the slash (/). -->
					<a href="#!/read/{{ metaArticle.urlName }}"">
						<h2 class="post-title">{{ metaArticle.title }} <span class="small text-success" ng-if="vm.isSearch">{{ (100 * (metaArticle.score || 0)).toFixed(2) + '% ' }}</span></h2>
						<h3 ng-if="metaArticle.subtitle" class="post-subtitle">{{ metaArticle.subtitle }}</h3>
					</a>
					<p ng-if="metaArticle.teaser" class="post-teaser">{{ metaArticle.teaser }}</p>
					<p class="post-meta">Posted by <a href="#">{{ metaArticle.author }}</a> on {{ metaArticle.lastMod }}</p>
				</div>
				<hr ng-if="!$last" />
			</div>
			<div ng-if="vm.currentPage.hasPrev() || vm.currentPage.hasNext()">
				<hr />
				<!-- Pager -->
				<ul class="pager">
					<li class="previous" ng-if="vm.currentPage.hasPrev()">
						<a ng-if="vm.isSearch" ui-sref="search({ pageIdx: vm.currentPage.index - 1 })">&larr; prev</a>
						<a ng-if="!vm.isSearch" ui-sref="list({ listType: vm.listType, pageIdx: vm.currentPage.index - 1 })">&larr; prev</a>
					</li>	
					<li class="next" ng-if="vm.currentPage.hasNext()">
						<a ng-if="vm.isSearch" ui-sref="search({ pageIdx: vm.currentPage.index + 1 })">next &rarr;</a>
						<a ng-if="!vm.isSearch" ui-sref="list({ listType: vm.listType, pageIdx: vm.currentPage.index + 1 })">next &rarr;</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container" ng-if="vm.currentPage.items.length == 0">
			<div class="margin-top-1em">
				<div class="jumbotron text-center">
					<h3>{{ vm.isSearch ? 'The search for "' + vm.searchTerm + '" did not yield any results.' : 'This list appears to be empty.' }}</h3>
				</div>
			</div>
		</div>
	</div>
</div>