<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" ng-if="vm.articlesPage.length > 0">
			<div ng-repeat="article in vm.articlesPage">
				<div class="post-preview">
					<a href="post.html">
						<h2 class="post-title">{{ article.title }}</h2>
						<h3 ng-if="article.teaser" class="post-subtitle">{{ article.teaser }}</h3>
					</a>
					<p class="post-meta">Posted by <a href="#">{{ article.author }}</a> on article.lastMod</p>
				</div>
				<hr ng-if="!$last" />
			</div>
			<!--<hr>
			<!-- Pager --><!--
			<ul class="pager">
				<li class="next">
						<a href="#">Older Posts &rarr;</a>
				</li>
			</ul>-->
		</div>
	</div>
</div>