@media only screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }
}

h2 {
  &.post-title {
    span {
      &.small.text-success {
        color:#3c763d !important;
        font-size: 40% !important;
        font-weight: 900 !important;
      }
    }
  }
}

.margin-top-1em {
  margin-top: 1em;
}

ol.breadcrumb {
  font-size: 75%;
  
  a {
    color: #0085a1 !important;
  }
}